<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebMine</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/ws.js"></script>
</head>
<body>
    <div hx-trigger="load" hx-target="#main_panel" id="main_panel" hx-get="/console/view"></div>
    <div hx-trigger="load" hx-target="#server_settings" id="server_settings" hx-get="/properties/view"></div>
</body>
</html>